<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <% include ./partials/header %>
</head>

<body>
    <div class="container">
        <div class="row text-center">
            <div class="form-group col-md-12">
                <form action="/chat" method="GET">
                    <h1>Kitcat-rtc</h1>
                    <input type="text" id="username" name="username" placeholder="username...">
                </form>
            </div>
        </div>
    </div>
    <% include ./partials/footer %>
</body>
</html>